.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  width: 100%;
  height: 15vh;
  background-color: #7da7d9;    
}

#header-title {
  margin-top: 4vh;
  margin-left: 3vh;
  display: inline-block;
  font-size: 7vh;
  color: white;
}
.header-button-outline {
  margin-top: 4vh;
  margin-right: 3.5vh;
  height: 8vh;
  width: 8vh;
  float: right;
  border-radius: 50%;
  background-color: white;
}

.header-button-text {
  font-size: 80%;
  margin-top: 2.75vh;
  text-align: center;
  color: black;
}