#login-blurb {
    margin-top: 7.5vh;
    margin-left: 7.5vw;
    font-size: 6vh;
    color: white;
}

#user-name-input {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 82.5vw;
    margin-top: 17.5vh;

}

#continue-button {
    width: 85%;
    margin-top: 22.5vh;
    margin-right: 7.5vw;
    padding: 1.5vh;
    float: right;
    background-color: white;
}

#info-box {
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    position: absolute;
    font-size: 3vh;
    border-style: solid;
    background-color: white;
    z-index: 1;
}

#info-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
}

#close-info-button {
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 5vh;
    position: absolute;
    font-size: 3vh;
}

.rounded-edges {
    border-radius: 5px;
}

.medium-font {
    font-size: 3.5vh;
}